//CSS設計手法はBEMを採用

//大まかな記載順序
// * position(top/right/bottom/left含め）
// * display/overflow
// * z-index
// * float
// * height/width
// * padding/margin/border
// * background
// * color/text/font/line-height
// * cursor

//Color定義
$red: rgb(172, 0, 0);
$black: #000000;
$navy: rgb(19, 21, 41);
$white: #fff;
$lightGray: #e4e4e4;

//---------------------------------
//共通したいスタイルを最初にまとめておく
body {
  font-family: "Noto Serif JP", serif;
}

h1 {
  font-size: 2em;
}

h2 {
  padding: 5em 0 1em 0;
  font-size: 1.5em;
  letter-spacing: 0.3em;
}

p {
  font-size: 0.75em;
}

.section {
  width: 75%;
  margin: auto;
}

//お店のロゴの画像はPC、スマホどちらも同じサイズがいいと思ったのでpx指定
#sushiya_logo {
  width: 144px;
  height: 48px;
}

//--------------------------------

.header {
  //ファーストビューを全画面に表示したい
  width: 100vw;
  height: 100vh;
  background-image: url(../img/sushiya_header.png);
  background-size: cover;
  background-color: rgba($color: $black, $alpha: 0.3);
  background-blend-mode: darken;
  color: $white;
  letter-spacing: 0.4em;
  transition: all 1s;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: inherit;

    &--logo {
      margin: 2.5em 0 0 5em;
    }

    &--nav {
      margin: 2.5em;
      writing-mode: vertical-rl;

      p {
        padding-left: 5em;
      }
    }

    &--hamburger {
      display: none;
    }
  }

  &__tagline {
    text-align: center;
  }
}

.main {
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.2);

  .section {
    &__info {
      height: 35em;

      &--headline {
        display: flex;
        align-items: flex-end;

        ::after {
          content: "- NEWS";
          padding-left: 1em;
          color: $red;
          font-size: 0.5em;
        }
      }

      &--img {
        display: flex;
        justify-content: space-between;

        img {
          width: 23%;
        }
      }

      &--others {
        p {
          margin-top: 0.8em;
        }
      }
    }
  }

  .concept {
    //背景の画像は職人の顔が見えるようにしたい
    height: 32em;
    width: 100vw;
    background-image: url(../img/concept.png);
    background-color: rgba($color: $black, $alpha: 0.5);
    background-position: right 0% top 0%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      writing-mode: vertical-rl;
      height: 32em;
      width: 100vw;
      padding: 4em 0;
      color: $white;
      letter-spacing: 0.3em;

      &--headline {
        ::before {
          content: "- CONCEPT";
          display: block;
          padding-left: 1em;
          font-size: 0.5em;
          font-weight: 100;
        }

        h2 {
          padding: 0 2em 0;
          font-size: 2em;
          font-weight: 100;
        }
      }

      &--description {
        padding-top: 2em;

        p {
          line-height: 4em;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      height: 25em;
      width: 100vw;
      background-color: $lightGray;
    }
  }

  .section {
    &__menu {
      height: 42em;
      padding: 0 5em;

      &--headline {
        ::after {
          content: "- MENU";
          padding-left: 1em;
          color: $red;
          font-size: 0.5em;
        }
      }

      &--contents {
        display: flex;

        dl {
          width: 60%;
          margin: 0.8em;

          dt {
            img {
              width: 100%;
            }
          }

          dd {
            height: 12em;
            padding-left: 1.5em;
            background-color: $white;
            letter-spacing: 0.2em;
            line-height: 1.2em;

            h3 {
              padding: 1em 0;
              font-size: 1.5em;

              ::after {
                content: "";
                display: inline-block;
                height: 0.8em;
                width: 0.4em;
                margin-right: 0.3em;
                background-color: $red;
              }
            }
          }
        }
      }

      &--others {
        display: flex;
        justify-content: flex-end;
        text-align: center;

        p {
          width: 12em;
          border-bottom: 1px solid $red;
          font-weight: 700;
          line-height: 2em;
        }
      }
    }
  }

  .access {
    display: flex;
    padding-bottom: 10em;

    &__contents {
      width: 58%;

      &--headline {
        text-align: center;

        ::after {
          content: "- ACCESS";
          padding-left: 1em;
          color: $red;
          font-size: 0.5em;
        }
      }

      &--map {
        //地図の下のリンクを右寄せに
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          width: 12em;
          margin: 1em;
          padding-bottom: 0.5em;
          border-bottom: 1px solid $red;
          font-weight: 700;
          line-height: 2em;
          text-align: center;
        }
      }
    }

    &__details {
      width: 42%;
      margin: 11em 0 0 1em;

      &--description {
        dl {
          font-size: 0.8em;
          font-weight: 200;
          line-height: 3em;

          dt {
            float: left;
            clear: left;
            width: 8em;
            text-align: right;
          }

          dd {
            float: left;
            margin-left: 1.5em;
          }
        }
      }
    }
  }
}

.footer {
  color: $white;
  background-color: $navy;

  &__contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 1em;

    &--info {
      height: 8em;

      p {
        padding-top: 1.2em;
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      width: 24em;

      p {
        width: 11em;
      }
    }
  }

  &__copywrite {
    padding-bottom: 2em;
    text-align: center;
  }
}

//-------------------------------------------
//スマホ用デザイン

@media screen and (max-width: 479px) {
  body {
    &.active {
      overflow: hidden;
    }
  }

  .header {
    &.active {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &__top {
      &--logo {
        width: 30%;
        margin: 2.5em 0 0 2em;
      }
      &--nav {
        position: relative;
        writing-mode: horizontal-tb;
        z-index: -1;
        width: 70%;
        margin: 0;
        padding: 2.5em 0;
        transition: all ease 1.5s;

        p {
          padding: 0 0 0 2em;
          line-height: 4em;

          ::before {
            content: "";
            display: inline-block;
            height: 0.8em;
            width: 0.4em;
            margin-right: 0.3em;
            background-color: $red;
          }
        }

        &.active {
          z-index: 2;
          background-color: $white;
          color: $black;
        }
      }

      &--hamburger {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        z-index: 2;
        height: 5em;
        width: 5em;
        background-color: $red;

        span {
          position: absolute;
          left: 15%;
          width: 70%;
          height: 1px;
          background-color: $white;
          transition: all ease 1.5s;
        }

        span:nth-child(1) {
          top: 25%;
        }
        span:nth-child(2) {
          top: 50%;
        }
        span:nth-child(3) {
          top: 75%;
        }

        &.active {
          z-index: 2;
          background-color: $white;

          span {
            background-color: $red;
          }

          span:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            top: 50%;
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  .main {
    .section {
      &__info {
        &--img {
          flex-wrap: wrap;

          img {
            width: 48%;
          }

          img:nth-child(1) {
            padding-bottom: 1.2em;
          }
          img:nth-child(2) {
            padding-bottom: 1.2em;
          }
        }
      }
    }

    .concept {
      background-position: 80%;

      &__contents {
        display: block;
        writing-mode: horizontal-tb;
        padding: 0;

        &--headline {
          padding: 2em 0 0 1.5em;

          ::before {
            padding: 0 0 1em;
          }

          h2 {
            padding: 0;
            font-size: 1.3em;
            letter-spacing: 0.1em;
          }
        }

        &--description {
          padding: 2em 0 0 1.5em;

          p {
            line-height: 3em;
          }
        }
      }
    }

    .section {
      &__menu {
        padding: 0;
        height: 60em;

        &--headline {
          h2 {
            padding-top: 2.5em;
          }
        }

        &--contents {
          display: block;

          dl {
            width: 100%;
            margin: 0 0 1em 0;

            br {
              display: none;
            }
          }
        }
        &--others {
          text-align: center;

          p {
            width: 100%;
            padding: 0.8em 0;
          }
        }
      }
    }

    .access {
      display: block;
      height: 90em;
      padding: 0;

      &__contents {
        width: 100%;

        &--headline {
          text-align: start;

          h2 {
            padding: 3em 0 1em 1.5em;
          }
        }

        &--map {
          align-items: center;

          p {
            width: 90%;
            margin: 2em 0;
          }
        }
      }

      &__details {
        width: 100%;
        margin: 0;

        &--description {
          dl {
            padding-left: 1.5em;

            dt {
              float: none;
              clear: none;
              width: 14em;
              text-align: left;

              br {
                display: none;
              }

              ::before {
                content: "";
                display: inline-block;
                height: 0.8em;
                width: 0.4em;
                margin-right: 0.3em;
                background-color: $red;
              }
            }

            dd {
              float: none;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    p {
      font-size: 0.7em;
    }

    &__contents {
      display: block;
      padding: 2em 1.4em;

      nav {
        justify-content: space-around;
        width: 100%;
      }
    }
  }
}
