body {
  font-family: "Noto Serif JP", serif;
}

h1 {
  font-size: 2em;
}

h2 {
  padding: 5em 0 1em 0;
  font-size: 1.5em;
  letter-spacing: 0.3em;
}

p {
  font-size: 0.75em;
}

.section {
  width: 75%;
  margin: auto;
}

#sushiya_logo {
  width: 144px;
  height: 48px;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/sushiya_header.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  color: #fff;
  letter-spacing: 0.4em;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: inherit;
}

.header__top--logo {
  margin: 2.5em 0 0 2.5em;
}

.header__top--nav {
  margin: 2.5em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.header__top--nav p {
  padding-left: 5em;
}

.header__top--button {
  display: none;
}

.header__tagline {
  text-align: center;
}

.main {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main .section__info {
  height: 35em;
}

.main .section__info--headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .section__info--headline ::after {
  content: "- NEWS";
  padding-left: 1em;
  color: #ac0000;
  font-size: 0.5em;
}

.main .section__info--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section__info--img img {
  width: 23%;
}

.main .section__info--others p {
  margin-top: 0.8em;
}

.main .concept {
  height: 32em;
  width: 100vw;
  background-image: url(../img/concept.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: right 0% top 0%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
}

.main .concept__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 32em;
  width: 100vw;
  padding: 4em 0;
  color: #fff;
  letter-spacing: 0.3em;
}

.main .concept__contents--headline ::before {
  content: "- CONCEPT";
  display: block;
  padding-left: 1em;
  font-size: 0.5em;
  font-weight: 100;
}

.main .concept__contents--headline h2 {
  padding: 0 2em 0;
  font-size: 2em;
  font-weight: 100;
}

.main .concept__contents--description {
  padding-top: 2em;
}

.main .concept__contents--description p {
  line-height: 4em;
}

.main .concept::after {
  content: "";
  display: block;
  height: 25em;
  width: 100vw;
  background-color: #e4e4e4;
}

.main .section__menu {
  height: 42em;
  padding: 0 5em;
}

.main .section__menu--headline ::after {
  content: "- MENU";
  padding-left: 1em;
  color: #ac0000;
  font-size: 0.5em;
}

.main .section__menu--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section__menu--contents dl {
  width: 60%;
  margin: 0.8em;
}

.main .section__menu--contents dl dt img {
  width: 100%;
}

.main .section__menu--contents dl dd {
  height: 12em;
  padding-left: 1.5em;
  background-color: #fff;
  letter-spacing: 0.2em;
  line-height: 1.2em;
}

.main .section__menu--contents dl dd h3 {
  padding: 1em 0;
  font-size: 1.5em;
}

.main .section__menu--contents dl dd h3 ::after {
  content: "";
  display: inline-block;
  height: 0.8em;
  width: 0.4em;
  margin-right: 0.3em;
  background-color: #ac0000;
}

.main .section__menu--others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.main .section__menu--others p {
  width: 12em;
  border-bottom: 1px solid #ac0000;
  font-weight: 700;
  line-height: 2em;
}

.main .access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10em;
}

.main .access__contents {
  width: 58%;
}

.main .access__contents--headline {
  text-align: center;
}

.main .access__contents--headline ::after {
  content: "- ACCESS";
  padding-left: 1em;
  color: #ac0000;
  font-size: 0.5em;
}

.main .access__contents--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .access__contents--map p {
  width: 12em;
  margin: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ac0000;
  font-weight: 700;
  line-height: 2em;
  text-align: center;
}

.main .access__details {
  width: 42%;
  margin: 11em 0 0 1em;
}

.main .access__details--description dl {
  font-size: 0.8em;
  font-weight: 200;
  line-height: 3em;
}

.main .access__details--description dl dt {
  float: left;
  clear: left;
  width: 8em;
  text-align: right;
}

.main .access__details--description dl dd {
  float: left;
  margin-left: 1.5em;
}

.footer {
  color: #fff;
  background-color: #131529;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 1em;
}

.footer__contents--info {
  height: 8em;
}

.footer__contents--info p {
  padding-top: 1.2em;
}

.footer__contents nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24em;
}

.footer__contents nav p {
  width: 11em;
}

.footer__copywrite {
  padding-bottom: 2em;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .header__top--nav {
    position: relative;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    z-index: -3;
    width: 50%;
    margin: 0;
    padding: 2.5em 0;
  }
  .header__top--nav p {
    padding: 0 0 0 2em;
    line-height: 4em;
  }
  .header__top--nav p ::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    width: 0.4em;
    margin-right: 0.3em;
    background-color: #ac0000;
  }
  .header__top--nav.active {
    z-index: 0;
    background-color: #fff;
    color: #000000;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  .header__top--hamburger {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 5em;
    width: 5em;
    background-color: #ac0000;
  }
  .header__top--hamburger span {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: #fff;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  .header__top--hamburger span:nth-child(1) {
    top: 25%;
  }
  .header__top--hamburger span:nth-child(2) {
    top: 50%;
  }
  .header__top--hamburger span:nth-child(3) {
    top: 75%;
  }
  .header__top--hamburger.active {
    background-color: #fff;
  }
  .header__top--hamburger.active span {
    background-color: #ac0000;
  }
  .header__top--hamburger.active span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__top--hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .header__top--hamburger.active span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .main .section__info--img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .section__info--img img {
    width: 48%;
  }
  .main .section__info--img img:nth-child(1) {
    padding-bottom: 1.2em;
  }
  .main .section__info--img img:nth-child(2) {
    padding-bottom: 1.2em;
  }
  .main .concept {
    background-position: 80%;
  }
  .main .concept__contents {
    display: block;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    padding: 0;
  }
  .main .concept__contents--headline {
    padding: 2em 0 0 1.5em;
  }
  .main .concept__contents--headline ::before {
    padding: 0 0 1em;
  }
  .main .concept__contents--headline h2 {
    padding: 0;
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }
  .main .concept__contents--description {
    padding: 2em 0 0 1.5em;
  }
  .main .concept__contents--description p {
    line-height: 3em;
  }
  .main .section__menu {
    padding: 0;
    height: 60em;
  }
  .main .section__menu--headline h2 {
    padding-top: 2.5em;
  }
  .main .section__menu--contents {
    display: block;
  }
  .main .section__menu--contents dl {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .main .section__menu--contents dl br {
    display: none;
  }
  .main .section__menu--others {
    text-align: center;
  }
  .main .section__menu--others p {
    width: 100%;
    padding: 0.8em 0;
  }
  .main .access {
    display: block;
    height: 90em;
    padding: 0;
  }
  .main .access__contents {
    width: 100%;
  }
  .main .access__contents--headline {
    text-align: start;
  }
  .main .access__contents--headline h2 {
    padding: 3em 0 1em 1.5em;
  }
  .main .access__contents--map {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .access__contents--map p {
    width: 90%;
    margin: 2em 0;
  }
  .main .access__details {
    width: 100%;
    margin: 0;
  }
  .main .access__details--description dl {
    padding-left: 1.5em;
  }
  .main .access__details--description dl dt {
    float: none;
    clear: none;
    width: 14em;
    text-align: left;
  }
  .main .access__details--description dl dt br {
    display: none;
  }
  .main .access__details--description dl dt ::before {
    content: "";
    display: inline-block;
    height: 0.8em;
    width: 0.4em;
    margin-right: 0.3em;
    background-color: #ac0000;
  }
  .main .access__details--description dl dd {
    float: none;
    margin: 0;
  }
  .footer p {
    font-size: 0.7em;
  }
  .footer__contents {
    display: block;
    padding: 2em 1.4em;
  }
  .footer__contents nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */